@charset "utf-8";

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('@/assets/fonts/Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    outline: none;
  }
  input::placeholder {
    @apply text-grey-400;
  }

  .text-bold78 {
    font-size: 78px;
    line-height: 96px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard', 'sans-serif';
  }
  .text-bold60 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold48 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold40 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold32 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold24 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold18 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard', 'sans-serif';
  }
  .text-bold16 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold14 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold12 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-bold10 {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.02em;
    font-weight: 700;
    font-family: 'Pretendard';
  }
  .text-regular78 {
    font-size: 78px;
    line-height: 96px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard', 'sans-serif';
  }
  .text-regular60 {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular48 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular32 {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular24 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-e-regular18 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular18 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular16 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular14 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular12 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }
  .text-regular10 {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Pretendard';
  }

  .random-hide-div {
    transition:
      opacity 0.5s ease-out,
      visibility 0s 0.5s; /* opacity와 visibility에 transition을 적용 */
  }

  .hidden1 {
    opacity: 0;
    visibility: hidden; /* opacity가 0일 때 visibility를 hidden으로 설정 */
  }

  a,
  button,
  input,
  select,
  h1,
  h2,
  h3,
  h4,
  h5,
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    -webkit-font-smoothing: antialiased;
  }
  menu,
  ol,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }
}

@layer components {
  [data-under-white-gradient] {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:h-[30%] after:w-full after:bg-gradient-to-t after:from-white-solid after:content-[""];
  }
  [data-under-dark-gradient] {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:h-[30%] after:w-full after:bg-gradient-to-t after:from-grey-900 after:content-[""];
  }
}

@layer utilities {
  .separator {
    @apply h-12 w-1 border-r-1 border-grey-200;
  }

  /* 선교 미션 스크롤 애니메이션 */
  [data-comment='text_scroll_box'] {
    animation: txt 100s linear infinite;
  }

  @keyframes txt {
    0% {
      transform: translateX(70%);
    }
    100% {
      transform: translateX(-70%);
    }
  }
}

/* 스크롤바 설정 */
::-webkit-scrollbar {
  width: 8px;
}

/* body::-webkit-scrollbar-track {
    @apply bg-grey-300;
  } */

::-webkit-scrollbar-track {
  border-radius: 4px;
  @apply bg-grey-200;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: padding-box;
  @apply bg-grey-100;
}

/* 선교미션 하단 오른쪽 스크롤 간격 */
[data-tidings-mission-container]::-webkit-scrollbar-track {
  margin: 24px 0;
}

/* 메인 탑배너 스와이퍼 설정 */
[data-main-swiper] .swiper-button-next {
  right: 3%;
  @apply text-white-solid;
}
[data-main-swiper] .swiper-button-next::after {
  opacity: 0.75;
  content: url(/public/images/icon/slide_arrow_right.svg);
  @apply max-lg:hidden;
}

[data-main-swiper] .swiper-button-prev {
  left: 3%;
  @apply text-white-solid;
}
[data-main-swiper] .swiper-button-prev::after {
  opacity: 0.75;
  content: url(/public/images/icon/slide_arrow_left.svg);
  @apply max-lg:hidden;
}
[data-main-swiper] .swiper-button-disabled {
  opacity: 0.1;
}

[data-main-swiper] .swiper-pagination {
  bottom: 40px;
}

[data-main-swiper]
  .swiper-pagination
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  transition: 0.3s;

  opacity: 0.75;
  margin: 0 3px;
  @apply bg-primary-100;
}

[data-main-swiper]
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transition: 0.3s;
  background-color: #ff6b00;
  width: 24px;
  border-radius: 10px;
  opacity: 1;
}

@media (max-width: 1024px) {
  [data-main-swiper] .swiper-pagination {
    bottom: 0px !important;
  }
}

/* 메인 타이틀 팝업 스와이퍼 설정 */
[data-popup-swiper] .swiper-button-next {
  right: 3%;
  @apply text-white-solid;
}
[data-popup-swiper] .swiper-button-next::after {
  opacity: 0.75;
  content: url(/public/images/icon/slide_arrow_right.svg);
  @apply max-lg:hidden;
}

[data-popup-swiper] .swiper-button-prev {
  left: 3%;
  @apply text-white-solid;
}
[data-popup-swiper] .swiper-button-prev::after {
  opacity: 0.75;
  content: url(/public/images/icon/slide_arrow_left.svg);
  @apply max-lg:hidden;
}
[data-popup-swiper] .swiper-button-disabled {
  opacity: 0.1;
}

[data-popup-swiper] .swiper-pagination {
  bottom: 10px;
}

[data-popup-swiper]
  .swiper-pagination
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  transition: 0.3s;
  opacity: 0.75;
  margin: 0 3px;
  @apply bg-primary-100;
}

[data-popup-swiper]
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transition: 0.3s;
  background-color: #ff6b00;
  width: 24px;
  border-radius: 10px;
  opacity: 1;
}

/* 메인 퐁당컨텐츠 스와이퍼 */
[data-main-fondant-swiper] .swiper-wrapper {
  /* transition-timing-function: linear !important; */
}

/* 메인 소식 컨텐츠 스와이퍼 */
/* [data-home-tidings-swiper] .swiper-button-next {
  top: -28%;
  left: 65%;
  width: 40px;
  height: 40px;
  background-image: url(/public/images/icon/mo_next_button_white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-home-tidings-swiper] .swiper-button-next::after {
  content: '';
}
[data-home-tidings-swiper] .swiper-button-prev {
  top: -28%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-image: url(/public/images/icon/mo_prev_button_white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-home-tidings-swiper] .swiper-button-prev::after {
  content: '';
}
@media (max-width: 1024px) {
  [data-home-tidings-swiper] .swiper-button-next {
    top: -28%;
    left: 65%;
    width: 36px;
    height: 36px;
  }
  [data-home-tidings-swiper] .swiper-button-next::after {
    content: '';
  }
  [data-home-tidings-swiper] .swiper-button-prev {
    top: -28%;
    left: 50%;
    width: 36px;
    height: 36px;
  }
  [data-home-tidings-swiper] .swiper-button-prev::after {
    content: '';
  }
} */

/* div::-webkit-scrollbar {
  height: 0px;
  width: 0px;
} */

/* 터치 줌 방지 */
/* body {
  touch-action: manipulation;
} */

/* 메인 퐁탕컨텐츠 스와이퍼 설정 */
[data-main-fondant-swiper] .swiper-button-next {
  right: 3%;
  @apply text-white-solid;
}
[data-main-fondant-swiper] .swiper-button-next::after {
  opacity: 0.75;
  content: url(/public/images/icon/slide_arrow_right.svg);
  @apply max-lg:hidden;
}

[data-main-fondant-swiper] .swiper-button-prev {
  left: -6%;
  @apply text-white-solid;
}
[data-main-fondant-swiper] .swiper-button-prev::after {
  opacity: 0.75;
  content: url(/public/images/icon/slide_arrow_left.svg);
  @apply max-lg:hidden;
}
[data-main-fondant-swiper] .swiper-button-disabled {
  opacity: 0.1;
}

@media (max-width: 360px) {
  [data-recruit-vision-box] {
    display: none;
  }
}

/* input 스타일 수정 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

::selection {
  @apply bg-primary-500 text-white-solid;
}
::-moz-selection {
  /* Firefox 대응 */
  @apply bg-primary-500 text-white-solid;
}
